* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  padding: 5px 10px;
  border: 0;
  background: #3d7acd;
  color: #fff;
  border-radius: 2px;
  position: absolute;
  bottom: 15px;
}

.box {
  height: 130px;
  max-height: 230px;
  width: 200px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid lavender;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  transition: 0.6s ease-in-out;
}
p {
  padding-top: 10px;
  color: lavender;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h3 {
  color: lavender;
  border-bottom: 0.5px solid lavenderblush;
  padding-bottom: 10px;
}

.box.active {
  height: 280px;
}

.box.active p {
  white-space: normal;
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box.active button {
  animation: fadeIn 1.5s linear;
}
